*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.margin{
    margin-top: 10px;
}

body{
    border: 2px solid black;
}

#italic{
    font-style: italic;
    font-size: small;
}